<section class="restaurants" id="restaurants" role="main">
  <div class="restaurants__header">
    <div class="restaurants__header-title">
      <h1>🍟 Welcome to Restaurants Search 🍔</h1>
      <p>search open restaurants in your area</p>
    </div>
    <div class="restaurants__search">
      <input id="restaurant-search" class="restaurants__search-input" type="text" [(ngModel)]="postCode" placeholder="Enter post code">
      <span class="restaurants__search-button">
        <button [disabled]="!postCode" (click)="onSubmit()" (keyup.enter)="onSubmit()">Search</button>
      </span>
    </div>
  </div>
  <div *ngIf="isLoading; else content">
    <div class="restaurants__loading">
      <app-loader />
    </div>
  </div>

  <ng-template #content>
    <div class="restaurants__grid" *ngIf="displayedRestaurants && displayedRestaurants.length > 0">
      <app-restaurant-card class="restaurants__grid-card" *ngFor="let restaurant of displayedRestaurants" [restaurant]="restaurant"></app-restaurant-card>
    </div>
    <div class="restaurants__empty" *ngIf="restaurantsData && restaurantsData.length === 0 && currentPage !== 0 && !errorMessage">
      <app-empty-state />
    </div>
    <div class="restaurants__error" *ngIf="errorMessage">
      {{ errorMessage }}
    </div>
  </ng-template>
  <app-pagination (pageSetted)="handlePageChange($event)" [totalPages]="totalPages" [currentPage]="currentPage" *ngIf="!isLoading && displayedRestaurants && displayedRestaurants.length > 0" />
</section>

